$color-light: #fff;
$color-gray: #9b9b9b;
$color-dark: #3c8bcc;
$color-darker: #3966b3;
$color-success: #00753b;
$color-warning: #ff0000;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
$app-width: 75%;
